/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

html {
    scroll-behavior: smooth;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.search_and_filters {
    margin-bottom: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header  ******/

header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 30px;
}

ul {
    display: flex;
    list-style: none;
    gap: 68px;
    margin-top: 16px;
}

.img_logo {
    height: 19px;
    padding: 30px 50px;
}

nav ul li a:hover {
    border-top: #0065fc 2px solid;
    padding-top: 14px;
    color: #0065fc;
}

/****** Search ******/

.search {
    margin-bottom: 30px;
}

.search p {
    margin-bottom: 35px;
}

.search h2 {
    margin-bottom: 8px;
}

.forms_search {
    display: flex;
    width: 377px;
    height: 49px;
}

.icone_search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
    width: 50px;

}

.icone_search i {
    color: #000000;
}

#input_search {
    width: 195px;
    border: 1px solid #f2f2f2;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#button_search {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 16px;
    border: none;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}

/****** Filters ******/

.allFilters {
    display: flex;
    margin-bottom: 30px;
    gap: 15px;
    height: 50px;
}

.title_filters {
    align-content: center;
}

.filters {
    display: flex;
    gap: 10px;
    padding: 4px 19px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    align-items: center;
    height: 38px;
}

.filters:hover {
    background-color: #DEEBFF;
}

.information {
    display: flex;
}

#icone_information {
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    margin-right: 10px;
    padding: 4px 9px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

.hebergement-title h2 {
    margin-bottom: 30px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card-content .card-txt h3 {
    padding: 8px 0px;
}

.hebergements-cards .card-subtitle {
    padding-bottom: 8px;
    font-size: 14px;
}

.hebergements-cards img {
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    padding: 5px 15px ;
}

.hergements-more {
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites  ******/

#activities {
    margin-bottom: 35px;
    padding: 30px;
}

#activities h2 {
    margin-bottom: 30px;
    font-size: 22px;
}

.activities-cards {
    display: flex;
    gap: 30px;
}

.activities-cards .card {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: calc(25% - 22.5px);
    padding: 0;
}

.activities-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
}

.activities-cards .card h3 {
    padding: 20px 19px;
    font-size: 16px;
}

/****** Footer  ******/

.footer {
    background-color: #F2F2F2;
    display: flex;
}

.bloc-footer ul {
    margin-top: 0;
    padding-left: 0;
    display: block;
}

.bloc-footer ul li {
    padding-top: 15px;
}

.bloc-footer {
    padding: 20px;
    width: 33%;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activities-cards img {
        height: 200px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}